beautifulsoup4==4.13.3
blinker==1.9.0
boto3==1.37.18
botocore==1.37.18
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
deep-translator==1.11.4
Flask==3.1.0
flask-cors==5.0.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
langdetect==1.0.9
Markdown==3.7
MarkupSafe==3.0.2
nltk==3.9.1
numpy==2.2.4
packaging==24.2
pillow==11.1.0
PyMuPDF==1.25.4
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
rank-bm25==0.2.2
regex==2024.11.6
requests==2.32.3
s3transfer==0.11.4
six==1.17.0
soupsieve==2.6
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.1.3
